.center {
  margin: 0 auto;
}

.result-container {
  margin-top: 2rem;
}

@media only screen and (max-width: 992px) {
  .standard-container .submit-box {
    width: auto;
  }
}

.submit-group {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
