@media only screen and (max-width: 992px) {
  .container-blog {
    width: 90%;
    margin: 0 auto;
  }

  container-blog h1 {
    font-size: 1.75rem;
  }
}

.container-blog {
  max-width: 80rem;
  margin: 0 auto;
}

container-blog h1 {
  font-size: 2.5rem;
  font-weight: 900;
}
